<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<title>Voir un bien</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body>
 <header th:insert="header.html::header"></header>
 
 <!-- Information, fiche du produit sélectionné -->
<div class="container bg-white fiche-produit foot">
	<section class="col">
		<div class="row">
			<strong class="champ" th:utext="${#strings.toUpperCase(bien.type_bien)}"></strong>
		</div>
		<div class="row">
			<strong class="champ">Offre:&nbsp; </strong>
			<p th:text="${bien.type_offre}"></p>
		</div>
	</section>
	<section class="row">
		<div class="col-9">
			<img class="img-thumbnail" th:alt="${bien.type_bien}" th:src="@{'/images/'+${bien.image}}">
		</div>
		<div class="col-2" th:if="${#strings.equalsIgnoreCase(bien.type_offre,'vente') && #strings.equalsIgnoreCase(bien.Status,'acheté')!=true}">
			<p th:if="${name !=null}">
				<a th:href="@{'/biens/'+${bien.id}+'/acheter'}" class="btn btn-success" >Acheter</a>
			</p>
			<p th:unless="${name !=null}">
				<a th:href="@{'/connexion'}" class="btn btn-success" >Acheter</a>
			</p>
		</div>
		<!-- Si acheté déactiver l'achat -->
		<div class="col-2" th:if="${#strings.equalsIgnoreCase(bien.type_offre,'vente') && #strings.equalsIgnoreCase(bien.Status,'acheté') }">
			<a th:href="@{'/biens/'+${bien.id}+'/acheter'}" class="btn btn-warning disabled" >Acheter</a>
		</div>
		<div class="col-2" th:if="${#strings.equalsIgnoreCase(bien.type_offre,'location') && #strings.equalsIgnoreCase(bien.Status,'loué')!=true }">
			<p th:if="${name !=null}">
				<a th:href="@{'/biens/'+${bien.id}+'/louer'}" class="btn btn-success" >Louer</a>
			</p>
			<p th:unless="${name !=null}">
				<a th:href="@{/connexion}" class="btn btn-success" >Louer</a>
			</p>
		</div>
		<!-- Si louer déactiver la location du bien -->
		<div class="col-2" th:if="${#strings.equalsIgnoreCase(bien.type_offre,'location') && #strings.equalsIgnoreCase(bien.Status,'loué') }">
			<a th:href="@{'/biens/'+${bien.id}+'/louer'}" class="btn btn-warning disabled" >Louer</a>
		</div>
	</section>
	<!-- informations détaillées sur le bien -->
	<hr />
	<section class="col">
		<div class="row">
			<strong class="champ">Localisation: &nbsp;</strong>
			<p th:utext="${bien.ville}"></p>&nbsp;|&nbsp;
			<p th:utext="${bien.adresse}"></p>
		</div>
		<div class="row">
			<strong class="champ">Statut: &nbsp;</strong>
			<div th:if="${#strings.equalsIgnoreCase(bien.Status,'acheté')}">
			<p class="font-weight-bold text-danger" th:utext="${bien.status}"></p>
			</div>
			<div th:if="${#strings.equalsIgnoreCase(bien.Status,'loué')}">
			<p class="font-weight-bold text-danger" th:utext="${bien.status}"></p>
			</div>
			<div th:if="${#strings.equalsIgnoreCase(bien.Status,'libre')}">
			<p class="font-weight-bold " th:utext="${bien.status}"></p>
			</div>
		</div>
		<div class="row">
			<strong class="champ">Ancienneté: &nbsp;</strong>
			<p th:utext="${bien.anciennete}"></p>
		</div>
		<!-- Si c'est en location, afficher le montant par mois -->
		<div class="row" th:if="${#strings.equalsIgnoreCase(bien.type_offre,'location')}">
			<strong class="champ">Montant: &nbsp;</strong>
			<p th:utext="${bien.montant+' DH/mois'}"></p>
		</div>
		<!-- Si c'est en vente -->
		<div class="row" th:if="${#strings.equalsIgnoreCase(bien.type_offre,'vente')}">
			<strong class="champ">Montant: &nbsp;</strong>
			<p th:utext="${bien.montant+' DH'}"></p>
		</div>
		<div class="row">
			<strong class="champ">Description: &nbsp;</strong>
			<p th:utext="${bien.description}"></p>
		</div>
		<div class="row">
			<strong class="champ">Date d'ajout: &nbsp;</strong>
			<p th:utext="${bien.date_ajout}"></p>
		</div>
	</section>
	
	<!-- formulaire de contact -->
	<br />
	<hr class="immo"/>
	<section class="row immo">
		<div class="col text-white"><h1>Contacter</h1></div>
		<div class="col-3 text-center">
		<!-- button trigger modal -->
			<a data-toggle="modal" data-target="#contactModal" id="contact">Demande d'infos</a>
		</div>
		<!-- modal -->
		<form th:action="@{'/biens/'+${bien.id}+'/contact'}" method="post" th:object="${contactForm}">
			<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" 
			aria-labelledby="contactModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="contactModalLabel">Contacter le propriétaire</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Nom*" th:field="*{nom}" />
								</div>
								<div class="form-group">
									<input class="form-control" type="email" placeholder="Email*" th:field="*{email}" />
								</div>
								<div class="form-group">
									<textarea class="form-control"  placeholder="Message*" th:field="*{message}"></textarea>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
							<button type="submit" id="btn-contact-envoie">Envoyer mon message</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</div>

<footer th:insert="footer.html::footer"></footer>
<script th:src="@{/js/jquery-3.4.1.slim.min.js}" ></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
</body>
</html>